/* Variables */
:root{
    --letra-titulos:'Oswald', sans-serif;
    --letra-parrafos:'Montserrat', sans-serif;
    --color-header:#495371;
    --color-pheader:#FEFAE0;
    --color-titulos:#4F5556;
    --color-contacto:#3B6A71;
}
main{
    width:100vh;
    padding-bottom: 2rem;
    padding: 30px;
}
*{
    margin: 0;    
    padding: 0;     
    -webkit-box-sizing: border-box;    
    -moz-box-sizing: border-box;     
    box-sizing: border-box; }
html {
    min-height: 100%;
    position: relative;
    }
body {
margin: 0;
margin-bottom: 40px;
}
footer {
position: absolute;
bottom: 0;
width: 100%;
height: 70px;
}
.lhead{
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    margin-left: 0px!important;
    color:var(--color-pheader);
    text-decoration: none;
    font-weight:500;
    font-size: 25px;
}
.lhead>a{
    padding-top: 1rem;
}

.inp{
    border-radius: 30px;
    border: 3px solid ;
    color:#495371;
    width: 50vh;
    padding-left: 2rem;
}

.inpu{
    border-radius: 30px;
    border: 3px solid ;
    color:#495371;
    width: 100vh;
    text-align: center;
}
input,select{
    padding-bottom: 10px;
    
}
.espacio{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pad{
    padding-left:10px!important; ;
}
.padi{
    padding-right: 50px!important;
}
form{
    padding-left:2rem;
}
.centr{
    padding-left:2rem;

}
.padd{
    padding-left:2rem!important;
}
a:hover{
    color: var(--color-contacto);
    text-decoration: none;
}
